.panel-panel {
  min-height: 300px;
  font-size: 18px;
  background-color: #e3e5e8;
  width: 100%;
}

.panel-title {
  font-size: 25px;
  background-color: #73a0ba !important;
  border-radius: none !important;
}
