html, body {
  width: 100%;
  height:130%;
  overflow-x: hidden;
  overflow-y: auto;
  background-image:url('img/greywall.png');
}

.app-main-panel {
  float: right;
  width: 70%;
  margin-right: 3.5%;
  height: 300px;
}

.app-drawn-logo {
  float: left;
  width: 20%;
  position: absolute;
  margin-left: 3.5%;
  max-height: 300px;
  max-width: 300px;
}
