html, body {
  width: 100%;
  height: auto;
  background-image:url('img/greywall.png');
  font-family: 'Barlow', 'sans-serif';
}

html {
    overflow-x: hidden;
}

@media (min-width: 970px) {
    .app-left-columns {
        padding-left: 45px !important;
        padding-right: 15px !important;
    }

    .app-right-columns {
        padding-right: 45px !important;
        padding-left: 15px !important;
    }
}

.panel {
    border-radius: 5px;
}

.carousel-section {
    background-image: url('img/background.jpg');
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-section {
    box-shadow: 0 -2px 2px -2px #000000;
    position: relative;
    padding-top: 50px;
}

.google-map {
    width: 100%;
    height: 400px;
}

.contact-button {
    width: 300px;
    max-width: 100%;
    margin-bottom: 20px;
}

.contact-panel {
    text-align: center;
}
