#carousel-carousel {
  max-width: 1600px;
  display: inline-block;
}

.carousel-border {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}

.carousel-logo {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 0;
    left: 0;
    z-index: 3;
}

.carousel-indicators .active {
  background: #73a0ba;
}
