.tabbed-panel {
  height: 300px;
  font-size: 16px;
  background-color: #e3e5e8;
  width: 100%;
}

.tabbed-panel-title {
  font-size: 20px;
  background-color: #583759 !important;
}

.nav-tabs {
    background-color: #583759 !important; 
}
