.tabbed-panel {
  height: auto;
  min-height: 300px;
  font-size: 16px;
  background-color: #e3e5e8;
  width: 100%;
}

.tabbed-panel-title {
  font-size: 20px;
  background-color: #73a0ba !important;
  padding-bottom: 0;
  margin-bottom: -5px;
}

.nav-tabs {
    background-color: #73a0ba !important;
    border-bottom: none !important;
}

.tabbed-panel-tab {
    border-style: solid;
    border-color: #e3e5e8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: thin;
    border-bottom-style: none;
}

.tabbed-panel-tab.active{
    background-color: #e3e5e8;
    border-bottom-style: none;
    color: #73a0ba !important;
}

.tabbed-panel-tab.active a,
.tabbed-panel-tab.active a:hover,
.tabbed-panel-tab.active a:focus {
    color: #73a0ba !important;
}
